/* Variables para establecer fondos en el proyecto */
:root {
    --primary: #0f0f0f;
    --light: #F3F3F3;
    --dark: 	#686868;
  }
  
  html, body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  /* Tamaño de las imagenes*/
  img {
    max-width: 100%;
  }
  
  h1 {
    padding-top: 60px;  
  }
  
  /* Contenedor principal
  se eliminan bordes y margenes */
  .wrapper {
    margin: 0;
    padding: 0;
  }
  
  /* Encabezado */
  header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "nt mn mn sb . . . "; 
    grid-template-areas: "a b c d . . g "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .netflixLogo {
    grid-area: nt;
    grid-area: a;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    
    padding-left: 10px;
    padding-top: 10px;  
  }
  
  .netflixLogo img { 
    height: 35px;     
  }
  
  /* Barra navegacion prncipal */
  .main-nav {
    grid-area: mn;
    grid-area: b;
    padding-top: 15px; 
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  /* Barra navegacion secundaria (izq) */
  .sub-nav {
    grid-area: sb;
    grid-area: g;
    padding-top: 15px; 
    padding: 15px 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }
  
  
  /* Contenedor principal */
  .main-container {
    padding: 50px;
  }

  /* div-grid para mostrar peliculas */
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  /* Efecto que se aplica a las imagenes dentro de los divs para que crezcan */
  /*.box a {*/
  .box img{
    transition: transform .3s;  
  }
  
  .box img:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  /* Redondea las puntas de las imagenes */
  .box img {
    border-radius: 2px;
  }
  
  /* Links parte inferior de la pantalla */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    color : white;
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color: var(--dark);
  }
  
  
  /* Pie de pagina */
  footer {
    padding: 20px;
    text-align: left;
    color : white;
    margin: 10px;
  }
  
  